@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Abel", sans-serif; */
/* font-family: "Roboto Condensed", sans-serif; */


/*COLORES*/
$color-bck-body: #cbdbdb;
$color-catg: rgb(10, 14, 70);

/*FUENTES*/
$font1:"Roboto Condensed",
sans-serif;
$font2:"Abel",
sans-serif;



* {
    margin: 0;
    padding: 0;
    font-family: $font1;
}

html {
    background-color: black;
}

body {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-bck-body;
}

/* HEADER */

.navbar {
    background-image: url("../assets/Fondo-NAV1290.jpg");
    background-size: contain;
    background-position: center;
    height: auto;
    color: white;
    text-align: center;
}

.nav-item {
    padding: 2px;
}

.nav-link {
    color: white !important;
}

.navbar-brand img {
    max-width: 70px;
    height: auto;
}


.form-control::placeholder {
    color: #999;
    font-style: italic;
    text-align: center;
}

.logoPrincipal {
    height: 300px;
}

.subNav {
    margin: 1em;
}

.navsub {
    background-image: url("../assets/nav\ amdera.jpg");
    background-size: contain;
    background-position: center;
}

.dropdown-menu-custom {
    width: 300px;
    /* Ancho del menú desplegable */
    text-align: center;
}

.carousel-inner .carousel-item img {
    border-radius: 20px;
}

/* MAIN */

.galeria {
    margin-top: 15px;
    border-radius: 25px;
    padding-top: 1.5rem;
    background-color: $color-bck-body;
}

.product {
    margin: 5px;
    border-radius: 50px;
    max-height: 250px;
}

.list-catg {
    background-color: #dae3e7;
    border-radius: 40px;
    height: max-content;

    a {
        color: $color-catg;
        height: 1.5rem !important;
        padding: 20px;
        font-weight: 500;
    }

    h6 {
        padding: 10px;
        align-self: center;
        text-decoration: underline dotted 0.2px;
    }
}

.ofert-botom {
    border-bottom: 1px dotted gray;
    border-top: 1px dotted gray;
    margin-top: 15px;
}


/* FOOTER */

footer {

    margin-top: 25px;
    background-image: url(../assets/img-footer.jpg);
    background-color: (255, 255, 255, 0.5);
}

.footer1 {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    padding-top: 15px;
}

.footer2 h4 {
    text-decoration: underline;
    margin-bottom: 15px;
}

.footer2 a {
    text-decoration: none;
    color: #161515;
    font-size: 20px;
    font-weight: bold;

    li {
        display: flex;
        padding-bottom: 15px;
    }
}



.fa-facebook {
    color: blue;
    font-size: 25px;
    padding-left: 15px;
}

.fa-twitter {
    color: #00acee;
    font-size: 25px;
    padding-left: 15px;
}

.fa-instagram {
    font-size: 25px;
    padding-left: 15px;
}

.fa-phone {
    padding-left: 15px;
}




/* PSEUDO CLASES */

.hover:hover {
    background-color: rgb(65, 61, 61);
    border-radius: 30px;
}

.nav-item:hover {
    font-size: 18px;
}

.list-catg a:hover {
    font-weight: 900;
}

/* Media queries */

@media (max-width: 576px) {
    #carouselExampleIndicators .carousel-inner img {
        height: 200px;
        object-fit: cover;
        /* Para mantener la relación de aspecto */
    }
}

@media (max-width: 576px) {
    .list-catg {
        display: none;
    }
}

@media (max-width: 576px) {
    .navbar {
        background-color: #161515;
    }
}

@import "_contacto.scss";
@import "_login.scss"