footer {
    margin-top: 25px;
    background-image: url(../assets/img-footer.jpg);
    // background-color: (255, 255, 255, 0.5);
    border: solid 3px grey;
    opacity: 0.9;
}

.footer1 {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    padding-top: 15px;
}

.footer2 h4 {
    text-decoration: underline;
    margin-bottom: 15px;
}

.footer2 a {
    text-decoration: none;
    color: #161515;
    font-size: 20px;
    font-weight: bold;

    li {
        display: flex;
        padding-bottom: 15px;
    }
}

.fa-facebook {
    color: blue;
    font-size: 25px;
    padding-left: 15px;
}

.fa-twitter {
    color: #00acee;
    font-size: 25px;
    padding-left: 15px;
}

.fa-instagram {
    font-size: 25px;
    padding-left: 15px;
}

.fa-phone {
    padding-left: 15px;
}
