.galeria {
    margin-top: 15px;
    // border-radius: 25px;
    padding-top: 1.5rem;
    // background-color: $color-bck-body;
    background-image: url(../assets/img-footer.jpg);
}

.product {
    margin: 10px;
    border-radius: 30px;
    max-height: 250px;
    overflow: hidden;
    transition: transform 0.4s ease;
    box-shadow: 0 4px 6px rgba(86, 78, 78, 0.1);
    
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

    }
}

.list-catg {
    background-color: #dae3e7;
    border-radius: 40px;
    height: max-content;

    a {
        color: $color-catg;
        height: 1.5rem !important;
        padding: 20px;
        font-weight: 500;
    }

    h6 {
        padding: 10px;
        align-self: center;
        text-decoration: underline dotted 0.2px;
    }
}

.ofert-botom {
    border-bottom: 1px dotted gray;
    border-top: 1px dotted gray;
    margin-top: 15px;
}

.carru-baner:hover {
    scale: scale(1.1) !important;
}