.redes-contact li {
    margin: 15px;
    padding: 15px;
}

.form-contacto {
    padding: 11px;
    margin-top: 20px;

    form {
        display: flex;
        flex-direction: column;
    }
}

.form-group {
    margin-bottom: 1rem;
    /* Espacio entre cada campo de formulario */
}

label {
    margin-bottom: 0.5rem;
    /* Espacio entre la etiqueta y el campo de entrada */
}