.redes-contact li {
    margin: 1.25rem;
    padding: .625rem;
}

.form-contacto {
    padding: 1rem 1rem;
    margin-top: 20px;
    max-width:fit-content;
    border: solid 1px rgb(185, 182, 182);
    border-radius: 1.25rem;
}

.form-group {
    margin-bottom: 1rem;
    /* Espacio entre cada campo de formulario */
}

label {
    margin-bottom: 0.5rem;
    /* Espacio entre la etiqueta y el campo de entrada */
}

#map-9cd199b9cc5410cd3b1ad21cab2e54d3{
    margin-top: .9375rem;
}

.btn-contact{
    width: 100%;
}