.redes-contact li {
    margin: 15px;
    padding: 5px;
}

.form-contacto {
    padding: 1rem 1rem;
    margin-top: 20px;
    max-width:fit-content;
    border: solid 1px rgb(185, 182, 182);
    border-radius: 20px;

    form {
        display: flex;
        flex-direction: column;
    }
}

.form-group {
    margin-bottom: 1rem;
    /* Espacio entre cada campo de formulario */
}

label {
    margin-bottom: 0.5rem;
    /* Espacio entre la etiqueta y el campo de entrada */
}