.galeria {
    margin-top: 15px;
    border-radius: 25px;
    padding-top: 1.5rem;
    background-color: $color-bck-body;
}

.product {
    margin: 10px;
    border-radius: 50px;
    max-height: 250px;
    overflow: hidden;

    &:hover {
        transform: scale(1.1);
    }
}

.list-catg {
    background-color: #dae3e7;
    border-radius: 40px;
    height: max-content;

    a {
        color: $color-catg;
        height: 1.5rem !important;
        padding: 20px;
        font-weight: 500;
    }

    h6 {
        padding: 10px;
        align-self: center;
        text-decoration: underline dotted 0.2px;
    }
}

.ofert-botom {
    border-bottom: 1px dotted gray;
    border-top: 1px dotted gray;
    margin-top: 15px;
}

.carru-baner:hover {
    scale:scale(1.1) !important;
}
